.button-field{
	font-size: 24px;
	/*height: 36px;*/
	min-width: 100px;
	/*border: 10px solid black;*/
	border-radius: 30px;
	background-color: #333333;
	padding: 5px 20px;
	color: white;
}

#button_field_1{
	background-color: #f12448;
}
#button_field_2{
	background-color: #f64846;
}
#button_field_3{
	background-color: #f4a13b;
}
#button_field_4{
	background-color: #ebc52f;
}
#button_field_5{
	background-color: #D2E927;
}
#button_field_6{
	background-color: #ADE837;
}
#button_field_7{
	background-color: #78EA92;
}
#button_field_8{
	background-color: #7FE1EA;
}

.button-rows{
	background-image: url(/assets/img/housewife.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
}

html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	background: transparent url(/assets/img/bg.jpg);
	background-size: 100% 100%;
}

#edit_uttons_1,
#edit_uttons_2,
#edit_uttons_3,
#edit_uttons_4,
#edit_uttons_5,
#edit_uttons_6,
#edit_uttons_7,
#edit_uttons_8{
	display: none;
}


.salary-box{
	position: absolute;
	text-align: center;
	width: 100%;
	height: 44px;
	font-size: 44px;
	/*margin-top: ;*/
	top:50%;
	left:0px;
}

.salary-box{
	transition: all 0.1s ease-out;
}
.salary-box:hover{
	transform: scale(2.0);
}

.location-holder{
	/*border-top: 15px solid rgba(0,0,0,0.5);*/
	/*border-left: 15px solid rgba(0,0,0,0.5);*/
	/*border-right: 15px solid rgba(0,0,0,0.5);*/
	width: 80%;
	position: absolute;
	bottom: 0px;
	left: 10%;
	font-size: 32px;
	padding: 10px;
	text-align: center;
	color: white;
	font-weight: bold;
	background-image: url(/assets/img/worldmap.jpg);
	background-repeat: repeat;
	border-top-left-radius: 1000px;
	border-top-right-radius: 1000px;
}
